/* Give your page a fun background color *

/* Make the header and footer a different color from the background */
h1 { 
    color:black;
    text-align: center;
}
Body {
    background-color: purple;
}

.exp-header {
    text-align: center;
    border-top: solid red;
    border-bottom: solid red;

}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */
footer {
    background-color: yellow;
    font-style: italic;
}

/* Put a border around your image */


/* Change the font-family of your list */

li {
    font-family:fantasy

}